$patting: 1em;
$icon-size: 50px;

*{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

html{
    font-family: Roboto, sans-serif;
}

.weather{
    width: 100%;
    min-height: 100vh;
}

html[data-theme="day"] .weather,
.weather {
    background: linear-gradient(360deg,#3594bf 0%, rgba(255, 255, 255, 0)100%) #53a6cb;
}
html[data-theme="night"] .weather,
.weather {
    background: linear-gradient(360deg,#55707e 0%, rgba(255, 255, 255, 0)100%) #06537c;
}
.weather__inner{
    max-width: 900px;
    margin: 0 auto;
    padding: $patting;
}
.current {
    text-align: center;
    margin-bottom: $patting *2;

    &__city{
        font-size: 3em;
    }
    &__description {
        font-size: 1.5em;
    }
    &__temperture{
        font-size: 4em ;
    }
}

.forecast{
    display: flex;
    justify-content: space-between;
    margin-bottom: $patting *2;
    &__icon{
        text-align: center;
    }
    
    &__time,

    &__icon{
        margin-bottom: $patting;
    }

    &__icon{
        width: $icon-size;
        height: $icon-size;
    }
    
    &temperature{
        font-size: 1.5em;
    }

}
.icon__01d,
.icon__01n,
.icon__02d,
.icon__02n,
.icon__03d,
.icon__03n,
.icon__04d,
.icon__04n,
.icon__09d,
.icon__09n,
.icon__10d,
.icon__10n,
.icon__11d,
.icon__11n,
.icon__13d,
.icon__13n,
.icon__50d,
.icon__50n{
    background-color: $icon-size;
    background-repeat: no-repeat;
}
.icon__01d,
.icon__01n{
    background-image:  url("/images/01d.png");
}
.details{
    &__row{
        display: flex;
        justify-content: space-between;
        margin-top: $patting*2;
    }
    &__item{
        flex: 1;
    }
    &__name{
        margin-bottom: $patting;
    }
    &__value{
        font-size: 1.5em;
    }
}
